*.log
**/*.log
**/*.init.h
**/*.config.h
**/__pycache__/
**.jou
**.onnx

data/
**.bin
**.csv
**.yaml
rpt/

outputs/

.eggs/

docs/fpgaconvnet_optimiser/

build/
dist/

**.pyc

.coverage
examples/models

**.dcp

*.egg-info
*.vscode

fpgaconvnet/__init__.py
