*.log
**/*.log
**/*.init.h
**/*.config.h
**/__pycache__/
**.jou
**.onnx

data/
**.bin
**.csv
**.yaml
rpt/

outputs/
onnx/

.eggs/

docs/fpgaconvnet_optimiser/

build/
dist/

**.pyc

.coverage
examples/models

**.dcp

#Debugging dirs
fpgaconvnet/hls
test/
.idea/
partition_0/
test.py