numpy>=1.19.2
wandb
graphviz>=0.16
networkx>=2.5
onnx>=1.12.0
onnxsim==0.4.28
onnxruntime>=1.12.0
onnxoptimizer>=0.3.8
pydot>=1.4.2
scipy>=1.2.1
fpbinary>=1.5.3
xgboost
matplotlib
pandas
toml
protobuf==3.20.3
pymongo
tqdm
pyparsing<3
nvidia-pyindex
onnx-graphsurgeon
ddt
pymongo
scikit-learn
pytest
vcdvcd
tabulate
